.social-links {
    margin-top: 2px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-links img {
    width: 2px;
    height: 2px;
    transition: transform 0.2s ease;
}

.social-links img:hover {
    transform: scale(1.15);
    cursor: pointer;
}
