<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: page_head}"></head>
<body style="background-color: #2c2c2c; color: #ffffff;">

<nav th:replace="~{layout :: page_navbar}"></nav>

<span th:text="${notif}"></span>

<div class="container py-3">
    <h1 class="text-center my-4">Collaborateurs WACDO</h1>
</div>

<!-- Partie qui permet d'ajouter des collaborateurs dans la BdD -->
<h4 class="text-center my-4">Ajouter un collaborateur</h4>

<div style="text-align: center;">
    <form method="POST" th:action="@{/myFormCollaborateurs}" th:object="${collaborateursDto}" class="w-10/12 mx-auto flex justify-center">
        <input type="text" name="nom" placeholder="Nom du collaborateur" class="border border-gray-300 text-gray-900 text-sm rounded-lg w-3/12"/>
        <input type="text" name="prenom" placeholder="Prénom du collaborateur" class="border border-gray-300 text-gray-900 text-sm rounded-lg w-3/12"/>
        <input type="email" name="email" placeholder="Adresse Mail" class="border border-gray-300 text-gray-900 text-sm rounded-lg w-3/12"/>
        <input type="password" name="motDePasse" placeholder="Mot de Passe" class="border border-gray-300 text-gray-900 text-sm rounded-lg w-3/12"/>
        <input type="date" name="datePremierEmbauche" placeholder="Date Premier Embauche" class="border border-gray-300 text-gray-900 text-sm rounded-lg w-3/12"/>

        <span>Administrateur :</span>
        <input type="radio" th:field="*{administrateur}" value="true" /> Oui
        <input type="radio" th:field="*{administrateur}" value="false" /> Non

        <input type="submit" value="Enregistrer" class="btn btn-primary"/>
    </form>
</div>

<div class="container py-3">
    <h4 class="text-center my-4">Liste collaborateurs WACDO</h4>
</div>

<!-- <div th:each="collab : ${collaborateursList}" class="collab-card">
    <form>
        <label>Nom :</label>
        <input type="text" th:value="${collab.nom}" readonly><br>

        <label>Prénom :</label>
        <input type="text" th:value="${collab.prenom}" readonly><br>

        <label>Email :</label>
        <input type="email" th:value="${collab.email}" readonly><br>

        <label>Date d'embauche :</label>
        <input type="text" th:value="${collab.datePremierEmbauche}" readonly><br>

        <a th:href="@{/collaborateurs/{id}(id=${collab.id})}">Voir détails</a>
    </form>
</div> -->

<div style="text-align: center;">

    <div th:each="collab : ${collaborateursList}" class="collab-card">

        <!-- Lien cliquable vers la fiche individuelle -->
        <a th:href="@{/collaborateurs/{id}(id=${collab.id})}">
            <span th:text="${collab.nom}" ></span> <span th:text="${collab.prenom}"></span>
        </a>
    </div>

</div>

<footer th:replace="~{layout :: page_footer}"></footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>