<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout :: page_head}"></head>

<body  style="background-color: #2c2c2c; color: #ffffff;">

<nav th:replace="~{layout :: page_navbar}"></nav>

<div style="text-align: center;"> <h1 style="color: #d3c3a7;">Poste <span th:text="${fonctions.nomDuPoste}"></span> </h1>

<p>Nom du poste : <span th:text="${fonctions.nomDuPoste}"></span></p>

<p><td> <a th:href="@{/fonctions/edit/{id}(id=${fonctions.id})}" class="btn btn-primary">Modifier poste</a></td></p>

</div>

<a href="/fonctions">⬅ Retour à la liste</a>

<footer th:replace="~{layout :: page_footer}"></footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>